# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# Node / NPM
/assets/node_modules/

# Elixir / Phoenix (for future)
/_build/
/deps/
/*.ez
/priv/static/
!/priv/static/favicon.ico
!/priv/static/images/
/priv/static/images/*
!/priv/static/images/logo-light.svg
!/priv/static/images/logo-dark.svg
!/priv/static/images/favicon-16x16.png
!/priv/static/images/favicon-32x32.png
!/priv/static/assets/
/priv/static/assets/*
!/priv/static/assets/vad/
/priv/plts/
erl_crash.dump
*.beam
.elixir_ls/
.fetch

# Environment variables
.env
.env.local
.env.*.local

# Railway
.railway/

# Misc / Temporary projects
red-hot-xtra/
